fastapi==0.109.2
pydantic==2.11.7
uvicorn==0.27.1
SQLAlchemy
jinja2
python-dotenv
psycopg2-binary
asyncpg
python-jose[cryptography]
passlib[bcrypt]
requests
httpx
google-generativeai
instagrapi==2.2.1
imgkit
python-multipart
schedule
slowapi==0.1.9
bcrypt==4.1.2
python-multipart==0.0.6
bleach==6.1.0